
<header>
  <section>
    <section>
      <div>
        <a></a>
      </div>
    </section>
  </section>
</header>
<main>
  <section>
    <section>
      
      <article>
        <h3>When she saw the three angry bears she was very frightened.</h3>
        <p>
          She jumped out of bed, rushed down the stairs, ran out the door and didn’t stop running until she reached her house.  Inside she found her own bowl and her own chair. And that night, just before she went to sleep in her own bed, she promised to herself ...
        </p>
        <p>
          Then, the three bears saw that their chairs had been used. “Who has sat on my chair?” asked Father Bear.  Shortly after, the bears returned from walk, ready to have breakfast. But they were surprised to see that the spoons were already in their bowls of milk. “Someone has drunk my milk!” exclaimed Father Bear.
        </p>
      </article>
 
    </section>
  </section>
</main>
<footer>
  <section>
    <section>
      footer
    </section>
  </section>
</footer>
